@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');

html {
  background-color: #EBB3A9;
  font-family: 'Fredoka', sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.drop-down-collapsed {
  display: grid;
  width: 0;
  height: 0;
  visibility: hidden;
}

#drop-down-menu {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  justify-content: center;
  flex: 1 1 auto;
  width: 100vw;
  height: 7vh;
  background-color: #EEEBD0;
  color: #EBB3A9;
}

#drop-down-top-bar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  height: 7vh;
}

#drop-down-menu-svg {
  display: flex;
  width: 4vw;
  padding-left: 1vw;
  flex: 1 1 auto;
  filter: invert(26%) sepia(42%) saturate(3148%) hue-rotate(309deg) brightness(106%) contrast(108%);
  transition: transform 500ms ease-in-out;
}

#drop-down-top-bar.clicked #drop-down-menu-svg {
  transform: rotateX(160deg);
}

#website-title {
  display: flex;
  color: #EE2677;
  font-size: 2em;
  margin-left: -5vw;
}

.drop-down-nav-open {
  height: 100vh;
}

.drop-down-items-container-open {
  display: flex;
  width: 30vw;
  height: 100vh;
  flex-flow: column wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5%;
  background-color: #E86252;
  transition: all 300ms ease-in-out;
}

.drop-down-home-open {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 2.5vh;
  font-size: 2em;
  margin: 7%;
  color: #EEEBD0;
  transition: transform .2s;
}

.drop-down-about-open {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 2.5vh;
  font-size: 2em;
  margin: 7%;
  color: #EEEBD0;
  transition: transform .2s;
}

.drop-down-contact-open {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 2.0vh;
  font-size: 2em;
  margin: 7%;
  color: #EEEBD0;
  transition: transform 300ms;
}

#drop-down-home:hover, #drop-down-about:hover, #drop-down-contact:hover {
  border: 0.1em solid #EEEBD0;
  width: 10vw;
  height: 5vh;
  transform: scale(1.25);
  font-weight: 900;
}

#drop-down-menu-svg:hover {
  transform: scale(1.25);
}

.button-clicked {
  border: 0.1em solid #EEEBD0;
  width: 10vw;
  height: 5vh;
  transform: scale(1.25);
  font-weight: 900;
}